.ChosenDesert{
  /* border: 3px solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem
}
.indChosenDesert{
  /* border: 3px solid; */
  width: 80%;
}
.ChosenDesertName{
  color: rgb(38, 15, 8);
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.indChosenDesertDetails{
  display: flex;
  width: 60%;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: space-between;
}
.ChosenDesertQuantity{
  color: rgb(199, 58, 15) ;
  font-weight: 600;
}
.ChosenDesertPrice{
  color: rgb(135, 99, 90);
}
.ChosenDesertTPrice{
  color: rgb(38, 15, 8);
  font-weight: 600;
}

.closeIcon{
  color: grey;
  cursor: pointer;
}
.closeIcon:hover{
  color: red
}

@media screen and (max-width: 500px) {
  .indChosenDesertDetails{
    width: 75%;
  }
}
