#root {
  margin: 0 auto;
  padding: 3rem 10rem;
  /* text-align: center; */
  /* border: 3px solid; */
  height: auto;
}

.App {
  /* border: 3px solid red; */
  display: flex;
  align-items: top;
  justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  #root{
    padding: 3rem;
  }
}

@media screen and (max-width: 1000px) {
 .App{
  display: block;
  width: 90%;
  margin: auto;
 } 
}